
main{
    width: 100%;
    height: 500px;
    text-align: center;
}   *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    flex-shrink: 0
}

.btnIniciar {
    position: awa;
    background-color: #0a0805;
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    top: 300px;
    
  }
 body {
        font-family: Tahoma, sans-serif;
        background-color: #ffffff;
        margin: 0;
        padding: 20px;
        background-image: linear-gradient(rgba(79, 207, 62, 0.75),rgba(5, 5, 5, 0.75)),
        url(./5371964\ 1.png);
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        background-attachment: fixed;
        background-size: cover;
}


#ImagenPrincipal{
position: absolute;
left: 223px;
top: 140px;
}


